html, body {
    background-color: #222c35 !important;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: initial !important;
}

.hero {
    position: relative;
    width: 100px;
    float: left;
    margin: 5px;
    min-height: 110px;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 1px solid #000;
}

.hero i {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 11;
    font-size: 21px;
    opacity: 0.8;
}
.hero i.fa-star-o {
    color: #f7f7f7;
}
.hero i.fa-star {
    color: yellow;
}

/* hover state */
.hero i.fa-star:hover,
.hero i.fa-star-o:hover{
    color: yellow;
}
.hero:hover i {
    top: 5px;
    right: 5px;
    font-size: 25px;
}
.hero:hover img {
    top: -5px;
    width: 110%;
    max-width: 110%;
    left: -5px;
    z-index: 10;
}
